.header-button-area .btn-success
{
	margin-right:10px;
}

.table-responsive
{
	margin-left:10px;
	margin-right:10px;
}

.bronze-user
{

	color:#cd7f32;
}

.silver-user
{
	color:#e0e0e0;
}

.gold-user
{
	color:#f37d30;
}

.fa-exclamation-triangle
{
	color:#E6833B!important;
}

.favorite
{
	cursor: pointer;
	color:red;
}