.header-button-area .btn-success
{
	margin-right:10px;
}

.table-responsive
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	
}


.bronze-user
{

	color:#cd7f32;
}

.silver-user
{
	color:#e0e0e0;
}

.gold-user
{
	color:#f37d30;
}

.fa-exclamation-triangle
{
	color:#E6833B!important;
}

.favorite
{
	cursor: pointer;
	color:rgb(137, 137, 150);
}


