.box {
	border-radius: 25px;
	padding-top: 40px; 
	padding-bottom:40px;
	padding-left:40px;
	padding-right:40px;
	background-color:rgb(211,211,211);
	

}

.limits-label
{
	color: grey;
}

.autoaccept_not_allowed
{
	color:red;
	font-weight:400;
}

.hidden
{
	display: none;
}


